.prom-night .row,
.prom-night .header,
body {
  min-width: 0;
  width: auto;
}
table {
  margin-bottom: 0;
}
.prom-night .row {
  max-width: 980px;
}
.prom-night .logo:before {
  font-size: 47px;
  line-height: 65px;
}
.prom-night .logo span {
  color: #fff;
  font-size: 29px;
  position: relative;
  top: -10px;
  left: 2px;
  font-family: OpenSansLight, OpenSansRegular, 'Helvetica Neue', Arial, sans-serif;
}
a.back {
  float: right;
  line-height: 65px;
  color: #666;
}
.press-site {
  background-color: #333;
  float: none;
  margin-bottom: 20px;
  /*height: 45px;*/
  font-family: OpenSansLight, OpenSansRegular, 'Helvetica Neue', Arial, sans-serif;
}
.prom-night .primary-nav ul {
  /*height: 45px;*/
}
.prom-night .primary-nav ul a {
  font-size: 13px;
  line-height: 45px;
  padding: 0 11px 0 0;
  position: relative;
}
.prom-night .primary-nav ul li + li a {
  padding-left: 11px;
}
.prom-night .primary-nav ul li + li a:before {
  content: "|";
  color: #666;
  position: absolute;
  left: -3px;
  top: -1px;
}
.prom-night article h1 {
  font-size: 20px;
}
article p {
  font-size: 16px;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
}
.metatags {
  color: #999;
  font-size: 13px;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}
.metatags .img-author {
  width: 40px;
  height: 40px;
  display: block;
  background-color: white;
  float: left;
  margin-right: 10px;
}
.metatags .social-buttons {
  position: absolute;
  top: 0;
  right: 0;
}
.metatags .social-buttons a {
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  background-color: white;
}
.metatags .social-buttons a:hover {
  color: white;
  border-color: #53A318;
  background-color: #53A318;
}
.prom-night article .entry-header h2 {
  color: #000;
  font-size: 33px;
  line-height: 45px;
}
.prom-night article .entry-header h2 a {
  color: #000;
}
article + hr {
  margin-bottom: 60px;
}
article + article {
  margin-top: 30px;
  padding-top: 1px;
  border-bottom: 1px solid #d8d8d8;
}
.wp-caption-text {
  color: #666;
  font-style: italic;
  font-size: 13px;
  line-height: 20px;
}
.search-form {
  margin-top: 20px;
}
.search {
  width: 100%;
}
.prom-night select {
  padding: 10px 0px 9px 14px;
}
.widget {
  margin: 15px 0;
}
.widget_recent_entries ul {
  list-style-type: none;
  padding-left: 0;
}
.widget_recent_entries ul li {
  margin: 10px 0;
  font-size: 14px !important;
}
.widget_recent_entries ul li:before {
  font-family: 'Groupon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e04f";
  font-size: 11px;
  color: #53A318;
  position:relative;
  display: inline-block;
  float: left;
  width: 10%;
  max-width: 20px;
  top: 6px;
  /*left: -15px;*/
}
.widget_recent_entries ul li a {
  color: #888;
  /*padding-left: 15px;*/
  display: inline-block;
  width: 90%;
}
.prom-night .feature-content .btn {
  margin-bottom: 10px;
  display: block;
}
.comment-form-comment textarea {
  width: 100% !important;
}
.post-metatags-footer .categories-and-tags {
  background-color: #f2f2f2;
  padding: 0 10px;
  overflow: hidden;
}
.post-metatags-footer .categories-and-tags p {
  font-size: 12px;
  margin: 0 10px 0 0;
  padding: 10px 0;
  float: left;
  line-height: 20px;
}
.post-metatags-footer .categories-and-tags a {
  display: inline-block;
  padding: 0 1px 0 2px;
}
.post-metatags-footer .categories-and-tags .top {
  float: right;
  /*padding: 10px;*/
  font-size: 20px;
  color: #888;
  line-height: 26px;
  position: relative;
  top: 7px;
}
.post-metatags-footer .categories-and-tags .top:hover, .post-metatags-footer .categories-and-tags .top:active {
  text-decoration: none;
}
.post-metatags-footer .categories-and-tags .comments-link, .post-metatags-footer .categories-and-tags .edit-link {
  float: right;
}

.comments p.no-comments {
  margin: 20px 0;
}
.comments p {
  margin: 0;
}
.comments ol > li {
  margin: 15px 0;
  padding: 10px 10px 15px 10px;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
}
.comments ol > li:nth-child(odd) {
  background-color: #f2f2f2;
}
.comments ol > li:nth-child(even) {
  background-color: #fafafa;
}
.comments p.form-submit {
  margin-top: 15px;
}
.post-pagination {
  text-align: center;
  margin: 2em 0;
}
.post-pagination span.dots {
  width: 40px;
}
hr {
  border: 0;
  margin: 0.5em 0;
  border-top: 1px dotted #f2f2f2;
}
.prom-night footer {
  /*margin-top: 30px;*/
}
.prom-night .footer-sitemap {
  padding-bottom: 30px;
}
.prom-night .footer-sitemap .logo.icon-groupon:before,
.prom-night .footer-sitemap .logo.icon-groupon span {
  color: #bbb;
  line-height: 30px;
}
.prom-night .post-content {
  border-bottom: 1px solid #d8d8d8;
}
.prom-night .post-content h1 {
  font-size: 20px;
}
.prom-night .entry-content h2 {
  font-weight: 800;
  line-height: 26px;
  font-size: 16px;
  padding: 20px;
  background-color: #e7f6d7;
}
.prom-night .post-content iframe {
  border: 1px solid #d8d8d8;
}
.block-grid > li {
  width: 33.333%;
}
img.alignnone,
img.alignleft,
img.alignright {
  border: 1px solid #d8d8d8;
}
img.alignleft {
  float: left;
}
img.alignright {
  float: right;
}
img.aligncenter {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
.prom-night .logo:before {
    font-size: 32px;
    line-height: 65px;
  }
  .prom-night .logo span {
    font-size: 19px;
    top: -7px;
    left: 2px;
  }
  .back {
    display: none;
  }
  .responsive input[type="search"]{
    width: 100% !important;
    font-size: 12px;
  }
  article p {
    font-size: 14px;
    line-height: 22px;
  }
  .search-form {
    margin: 0;
  }
  .prom-night h2 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .block-grid > li {
    width: 50%;
  }
  .prom-night .primary-nav li {
    width: 50%;
  }
  .prom-night .primary-nav li a {
    padding: 0;
  }
  .prom-night .primary-nav ul li + li a {
    padding: 0;
  }
  .prom-night .primary-nav ul li + li a:before {
    content: '';
  }
}
